.name {color:#F14A2A; font-weight:bold}
.datum {color:#7C7C7C}
h1 {font-size: 16px;leading: 10;}
p {font-size: 12px; margin-bottom: 5px}
.abstand {leading: 10;}
a:hover, a:active {color:#5AC7FE; text-decoration:underline}
.bold {font-weight:bold}
.linkstyle { color:#5AC7FE }
