body { margin: 30px; padding: 0px; font: 13px/20px Arial, sans-serif; color: #333333; background: #FFFFFF; }
#container { }
#head { height: 65px; }
h1 { font-size: 24px; color: #10a6e9; font-weight: normal; }
h2 { font-size: 13px; color: #10a6e9; }
.blau { color: #10a6e9; }
a { text-decoration: none; color: #f04a29; }
a:hover { text-decoration: underline; }
ol { padding-left : 20px;}
li { margin-bottom:10px;}
.wrapOneLine {margin-bottom: 1em;}