
#submit-btn .arrow {
    float: right;
    position: relative;
    width: 14px;
    height: 21px;
    top: -30px;
    right: 11px;
    background: url(../images/single-arrow-white.png) no-repeat;
}


