body {
    width: 100%;
    height: 100%;
    margin: 50px 0 0 0;
    padding: 0;

    background: #fff url(../images/bg_1600.jpg) no-repeat scroll center 0;

    /*font-size: 1em;*/
}

html {
    /*overflow-x: hidden;*/
    font-size:100%;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    /*line-height: 1.4;*/

}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


a {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


a,
a:link,
a:active,
a:visited
{
    color: #e53216;
}
a:hover {
    color: #f04a29;
}


h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #00adf0;
    margin-bottom: 24px
}

.copy {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 16px;*/
    font-size: 105%;
    /*line-height: 24px;*/
    color: #333;
    font-weight : normal;
    font-style: normal;
    line-height: 150%;
    zoom: 1;
    -webkit-font-smoothing: antialiased;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='#999999', Direction=135, Strength=1);

}


#containerdiv {
    z-index: 5;
    /*display: none;*/
    margin: 50px auto 0;
    text-align: left;
    width: 1010px;
}


#lightbox {
    position: absolute;
    top: 140px;
    left: 50%;
    margin-left: -490px;
    right: 0;
    /*margin: 0 auto;*/
    width: 980px;
    height: 180px;
    z-index: 1002;
}

.contentbox {
    padding: 30px 30px 0px 30px;
    position: relative;
    text-align: left;
    width: 980px;
    background: url(../images/bg_334.gif) top left repeat-x;
    background-size:  contain;
    min-height: 100%;
    min-width: 100%;
    border: 10px solid #ffffff;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg_334.gif', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg_334.gif', sizingMethod='scale')";
}


#modal {
    /*display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/modal.png);
    z-index: 1001;
}


#agecheck {
    height: 435px;
    overflow: hidden;
    zoom: 1;
}

#access-denied {
    display: none;
    height: 190px;
}


#agecheck #desc {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    line-height: 24px;
    color: #333;
}

#agecheck h3 {
    margin-top: 25px;
}

#agecheck a {
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#agecheck #input-container {
    height: 43px;
}

#agecheck #input-container .input-label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
    line-height: 43px;
    color: #0b6d8a;
    margin-bottom: 24px;
    float: left;
}

#agecheck #input-container .input-label:not(:first-child) {
    padding-left: 20px;
}

#agecheck #input-container .input-field {
    padding-top: 3px;
    padding-left: 4px;
    float: left;
}

#agecheck #input-container .input-field input {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: 35px;
    color: #333;
    width: 27px;
    height: 35px;
    text-align: center;

    border: none;
    -webkit-box-shadow: inset -2px 2px 5px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: inset -2px 2px 5px 0px rgba(50, 50, 50, 0.3);
    box-shadow: inset -2px 2px 5px 0px rgba(50, 50, 50, 0.3);

}

#submit-btn {
    float: right;
    cursor: pointer;
    background: #e53216;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    line-height: 43px;
    padding-left: 13px;
    width: 150px;
    height: 43px;
    color: #fff;
    zoom: 1;
}

#submit-btn .arrow {
    float: right;
    position: relative;
    width: 14px;
    height: 21px;
    top: 10px;
    right: 11px;
    background: url(../images/single-arrow-white.png) no-repeat;
}

#error-msg {
    display: none;
    position: relative;
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    top:-10px;
    line-height: 16px;
    color: #e53216;
}


#footer {
    margin-top: 25px;
    position: relative;
    font-size: 11px;
    float: left;
    color: #333;

}

